<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask with templates and statics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
  </head>
  <body>
    <h1> Flask </h1>
    <p> Test of an template </p>
    <p> And a div filled with a linear-gradient from css in /static/css </p>
    <div id='linear-gradient'></div>
  </body>
</html>
