/*--default------------------------*/
body {background: grey;}

input[type="text"]
{
	color: #f6931f;
	border: 1px;
}
label {
  color: white;
}
/*--video-------------------------*/
#container {
  width: 640px;
  height: 480px;
}
#myCanvas {
  position: absolute;
  left: 0.3em;
  top: 4em;
  z-index: 0;
}
#video {
  width: 640px;
  height: 480px;
  position: absolute;
  top: 3.0em;
  left: 0.5em;
}
/*--Buttons------------------------*/
#myCamera {
  bottom: 3em;
  position: absolute;
  right: 20em;
}
#myCamera_img {
  bottom: 0.5em;
  height: 20px;
  position: absolute;
  right: 20.5em;
  width: 25px;
}
#myConfig {
  top: 25em;
  left: 10em;
  position: absolute;
}
#myConfig_img {
  bottom: 0.5em;
  height: 25px;
  position: absolute;
  left: 15em;
  width: 25px
}
#mySounds {
  bottom: 3em;
  display: table;
  position: absolute;
  right: 30em;
}
#mySounds_img {
  bottom: 0.5em;
  height: 25px;
  position: absolute;
  right: 30.5em;
  width: 30px;
}
.button {
  background-color: rgba(246, 147, 31, .4);
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
  width: 100px;
}

.buttons_vertical {
  background-color: transparent;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 70px;
  padding:15px 5px;
}
.selection_item {
  padding: 3px;
}
.selection_vertical {
  background-color: transparent;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto;
  padding:15px 5px;
}
/*----directions------------------*/
.arrow {
  height: 25px;
  width: 25px;
}
#baseDirection {
  bottom: 1em;
  position: absolute;
  right: 0.5em;
}
#steercontainter {
    width: 110px;
}
#tableBaseDirections{
  text-align: center;
}
/*--infos--------------------------*/
#labelResult{
  display: table;
  bottom: 20em;
  position: absolute;
  right: 9em;
}
#myBattery {
  position: absolute;
  right: 0.5em;
  top : 4em;
}
#myData {
  top: 15em;
  color: white;
  position: absolute;
  right: 6em;
}
.coordinates{
  display:flex;
  position: relative;
  margin: 0 auto;
}
.fixed{
  width: 100px;
}
/*--input / output -------------------------*/
#inputMessage {
  border: 1px;
  border-style: solid;
  font-weight: bold;
  width: 200px;
}
#myInputOutput {
  position: absolute;
  color: white;
  bottom: 1em;
  left: 0.5em;
}
#outputMessage {
    height: 100px;
    width: 200px;
}
.txt_recieved {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 70px;
  padding:15px 5px;
}
/*--generic fpvcar-------------------*/
#btm_icon_shutdown {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
#btm_icon_shutdown_img{
  height: 40px;
  width: 30px;
}
#camera_placeholder {
    border: 1px solid;
    border-radius: 4px;
    display: block;
    left: 20em;
    top: 20em;
    position: absolute;
}
/*--sensors------------------------*/
#myCompass {
  display: table;
  margin: 0 auto;
  top: 1em;
}
#myTemperature {
  position: absolute;
  left: 0.5em;
  top : 4em;
}
/*--toggle_controls----------------*/
#btm_toggle_controls {
  display: inline-block;
  left: 0.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0.5em;
}
#btm_toggle_controls_img{
  height: 50px;
  width: 40px;
}
