@CHARSET "UTF-8";

/*--default------------------------*/
input[type="text"]
{
	color: #f6931f;
	width: 50px;
	border: 0;
}
/*--video-------------------------*/
#container {
  width: 640px;
  height: 480px;
}
#myCanvas {
  position: absolute;
  top: 4em;
  left: 0.3em;
  z-index: 0;
}
#video {
  width: 640px;
  height: 480px;
  position: absolute;
  top: 3.0em;
  left: 0.5em;
}
/*--Buttons------------------------*/
#control_camera {
  position: absolute;
  right: 13em;
  bottom: 3em;
}
#myButtons {
position: absolute;
left: 0.5em;
bottom: 3em;
}
/*----directions------------------*/
#baseDirection {
    bottom: 1em;
    position: absolute;
    right: 1em;
}
#cnvsJoy {
	border: 1px #000000;
}
#tableBaseDirections{
	text-align: center;
}
.coordinates{
  display:flex;
  position: relative;
  margin: 0 auto;
  width: 640px;
}
.fixed{
  width: 120px;
}
/*--infos--------------------------*/
#labelResult{
	position: absolute;
	bottom: 1em;
	left: 1em;
}
#moveResult {
	width: 200px;
}
#myBattery {
    position: absolute;
    right: 0.5em;
    top : 3em;
}
#myData {
  position: absolute;
  right: 2em;
  bottom: 3em;
}

/*--input -------------------------*/
#labelInput{
	position: absolute;
	bottom: 4em;
	left: 1em;
}
#inputMessage {
	border: 1px;
	border-style: solid;
	font-weight: bold;
	width: 200px;
}
/*--Power Button-------------------*/
#btm_icon_shutdown {
    display: inline-block;
    margin: 0;
    padding: 0;
	position: absolute;
    right: 0.5em;
	top: 0.5em;
}
#btm_icon_shutdown_img{
    height: 40px;
    width: 30px;
}
/*--sensors------------------------*/
#myCompass {
  position: absolute;
  left: 7em;
  top: 0.1em;
}
#myTemperature {
  position: absolute;
  right: 7em;
  top : 3em;
}
/*--toggle_controls----------------*/
#btm_toggle_controls {
    display: inline-block;
    left: 0.5em;
    margin: 0;
    padding: 0;
	position: absolute;
	top: 0.5em;
}
#btm_toggle_controls_img{
    height: 50px;
    width: 40px;
}
