@CHARSET "UTF-8";

/*--default------------------------*/
.oi {
	color: #f6931f;
	display:block;
	font-size: 2.0em;
	margin: 0 auto;
	opacity: 0.5;
}
.oi:active{
  opacity: 1.0;
}
input[type="text"]
{
	color: #f6931f;
	width: 50px;
	border: 0;
}
/*--input -------------------------*/
#labelInput{
	position: absolute;
	bottom: 1em;
	right: 1em;
}
#inputMessage {
	border: 1px;
	border-style: solid;
	font-weight: bold;
	width: 200px;
}
/*--infos -------------------------*/
#labelResult{
	position: absolute;
	bottom: 1em;
	left: 1em;
}
#moveResult {
	width: 200px;
}
/*---Power Button-----------------*/
#iconShutdown {
	position: absolute;
	top: 0.5em;
	right: 0.5em;;
}
.oi-power-standby{
	color: #ff0000;
}
.oi-power-standby:active{
	font-size: 2.5em;
}
/*----directions------------------*/
#baseDirection {
	left: 1em;
	position: absolute;
	top: 3em;
}
#cnvsJoy {
	border: 1px #000000;
}
#tableBaseDirections{
	text-align: center;
}
/*--toggle_controls----------------*/
#btm_toggle_controls {
    display: inline-block;
    left: 0.5em;
    margin: 0;
    padding: 0;
	position: absolute;
	top: 0.5em;
}
#btm_toggle_controls_img{
    height: 50px;
    width: 40px;
}
