/*--default------------------------*/
body {background: grey;}

button {
    border: 1px solid rgba(255, 165, 0, 1);
    background-color: rgba(255, 165, 0, 0.72);
    color: orange;
    font-size: 14px;
    text-align: center;
}
h3 {
    text-align: center;
}
input {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 192, 25, 0.72);
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 5px 5px;
  text-align: center;
}
/*--generic fpvcar-------------------*/
#btm_icon_shutdown {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
#btm_icon_shutdown_img{
  height: 40px;
  width: 30px;
}
#camera_placeholder {
    border: 1px solid;
    border-radius: 4px;
    display: block;
    left: 20em;
    top: 20em;
    position: absolute;
}
#btm_toggle_controls {
  display: inline-block;
  left: 0.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0.5em;
}
#btm_toggle_controls_img{
  height: 50px;
  width: 40px;
}
/*--manage sound---------------------*/
#toptitel {
  top: 1em;
  left: 10em;
  position: absolute;
}
/*--upload--*/
#frm_sounds_upload {
  bottom: 0.5em;
  left: 0.5em;
  position: absolute;
}
/*--sound list--*/
#soundfiles {
  background-color: #000000;
  color: #ffa500;
  left: 0.5em;
  position: absolute;
  top: 5em;
}
.soundlist {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: 100px auto;
  padding: 5px;
}
.soundlist > div {
  border-bottom: 1px dotted orange;
}
.soundlist > button {
    border-bottom: 1px dotted orange;
}
/*-done-*/
#done {
  bottom: 0.5em;
  position: absolute;
  right: 0.5em;
}
