<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Roboter test application</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<link href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/robota.css') }}" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	<!-- base directions ------------------------------------------------------>
	<div id="tableBaseDirections">
		<table>
			<tr>
				<td colspan="3">Control:Base Move</td>
			</tr>
			<tr>
				<td><a id="turnLeft"><span class="oi oi-action-undo" title="oi-action-undo" aria-hidden="true"></span></a></td>
				<td><a id="moveForward"><span class="oi oi-arrow-thick-top" title="oi-arrow-thick-top" aria-hidden="true"></span></a></td>
				<td><a id="turnRight"><span class="oi oi-action-redo" title="oi-action-redo" aria-hidden="true"></span></a></td>
			</tr>
			<tr>
				<td><a id="moveLeft"><span class="oi oi-arrow-thick-left" title="oi-arrow-thick-left" aria-hidden="true"></span></a></td>
				<td>
					<div id="steercontainter">
						<canvas id="cnvsJoy" width="100px" height="100px"></canvas>
					</div>
				</td>
				<td><a id="moveRight"><span class="oi oi-arrow-thick-right" title="oi-arrow-thick-right" aria-hidden="true"></span></a></td>
			</tr>
			<tr>
                <td><a id="stand"><span class="oi oi-x" title="oi-x" aria-hidden="true"></span></a></td>
				<td><a id="moveBackward"><span class="oi oi-arrow-thick-bottom" title="oi-arrow-thick-bottom" aria-hidden="true"></span></a></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">
					<div id="lblBaseVel">
						<label>Base velocity:</label>
						<input type="text" id="lblVel" readonly />
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- Shutdown Button -------------------------------------------------------->
	<div id="iconShutdown">
		<a href="/robota/api/doShutdown"><span class="oi oi-power-standby" title="oi-power-standby" aria-hidden="true"></span></a>
	</div>
    <button onclick="toggle_controls()" id="btm_toggle_controls">toggle controls</button>
    <!-- move result----------------------------------------------------------->
    <div id='labelResult'>
        <label>Result:</label>
        <input type='text' id='moveResult' readonly />
    </div>
  <!-- Scripts ----------------------------------------------------------------->
	<script>
		//TODO in zentrale Konfig auslagern und auch in app laden
		var appNameShort = 'robota';
		var base = { move: 'stop' };
		var left = { posYaw : 37, posPitch : 37 };
		var textYaw = 'yaw';
		var textPitch = 'pitch';
		var url = '/' + appNameShort + '/api';

		//--init-------------------------------------------------
		$(function() {
			/*set default screen text values*/
			$("#moveResult").val(" [ not yet ]");
			$("#labelPositionPitch").val(textYaw + " " + left.posYaw);
			$("#positionPitch").val(textPitch + " " + left.posPitch);
			/*set arrow functions*/
			document.getElementById("moveLeft").addEventListener("click", function () {
				base.move = 'left';
				doMove(base)
			});
			document.getElementById("moveForward").addEventListener("click", function () {
				base.move = 'forward';
				doMove(base)
			});
			document.getElementById("moveRight").addEventListener("click", function () {
				base.move = 'right';
				doMove(base)
			});
			document.getElementById("moveBackward").addEventListener("click", function () {
				base.move = 'backward';
				doMove(base)
			});
			document.getElementById("turnLeft").addEventListener("click", function () {
				base.move = 'turnLeft';
				doMove(base)
			});
			document.getElementById("turnRight").addEventListener("click", function () {
				base.move = 'turnRight';
				doMove(base)
			});
			document.getElementById("stand").addEventListener("click", function () {
				base.move = 'stand';
				doMove(base)
			});
		});

        function toggle_controls() {
          var tbd = document.getElementById("tableBaseDirections");
          if (tbd.style.display === "none") {
            tbd.style.display = "block";
          } else {
            tbd.style.display = "none";
          }

        }

		function move_base(base){
			data = JSON.stringify(base);
			$.ajax({
			  url:url + '/base',
			  type:"POST",
			  data:data,
			  contentType:"application/json; charset=utf-8",
			  dataType:"json",
			  success: function(baseMove){
			  	console.log(baseMove);
			  	newMove = 'BaseMove: linearX:' + baseMove.linearX + ' linearY:'+ baseMove.linearY;
				showMoveResult(newMove);
			  }
			})
		};

		function showMyPositions(myPositions) {
			var positions = "";
			for ( var p in myPositions) {
				positions = positions + p + ":" + (myPositions[p] + " ");
			}
			showMoveResult(positions);
		};

		function doMove(m){
			$.post(url + '/move', m).done( function(result) {
			showMoveResult(result);	});
		};

		function showMoveResult(result){
			$("#moveResult").val(result);
		};

	</script>
    <script src="{{ url_for('static', filename='js/canvasJoystick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gamepad.js') }}"></script>
</body>
</html>
